#login_box{
   color: #000;
   font-family: arial;
   font-size: 12px;
}

#login_box a{
   float: right;
   text-decoration: none;
   color: #000;
}

#login_box a:hover{
   text-decoration: underline;
}

.spacer{
   width: 200px;
   float: left;
   font-size: 20px;
   color: #666;
   margin-bottom: 5px;
}

.reg_text_field{
   width: 300px;
   height: 20px;
   margin-bottom: 5px;
   background: #c9c9c9;
   border: 1px solid #000;
}