#user_panel{
   margin: auto;
   width: 900px;
   height: 33px;
   background-image: url(/images/version1/backgrounds/user_panel.png);
}

#panel{
   width: 278px;
   height: 31px;
   margin-left: 22px;
   padding-top: 5px;
   background-image: url(/images/version1/backgrounds/panel.png);
   background-repeat: no-repeat;
   float: left;
}

#panel a{
   color: #fff;
   font-size: 18px;
   font-family: arial;
   font-style: italic;
   font-weight: bold;
   text-decoration: none;
}

#show_panel{
   display: none;
   background-image: url(/images/version1/backgrounds/control_panel.png);
   width: 255px;
   height: 237px;
   position: absolute;
   margin-left: 34px;
   top: 31px;
}

#login_form{
   margin-top: 5px;
   margin-left: 7px;
   margin-right: 7px;
}

.text_field{
   height: 22px;
   width: 150px;
   background-color: #777;
   border: 1px solid #000;
}

#login_submit{
   border: none;
   width: 75px;
   height: 27px;
   background-color: none;
   background-image: url(/images/version1/forms/login.png);
   margin-right: 13px;
   margin-top: 5px;
   cursor: pointer;
}