*{
	border: none;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a{text-decoration: none; color: #333;}
a:hover{text-decoration: none; color: #942c2c;}

html, body{
	background-image: url(../images/layout/background.png);
	font-family: arial;
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	word-wrap: break-word;
}

#banner{
	height: 229px;
	width: 900px;
	background-image: url(../images/layout/banner.png);
	margin: auto;
}

#content{
	width: 898px;
	border: 1px solid #000000;
	height: auto;
	background-color: #FFFFFF;
	margin: auto;
}

#main-contents{
	width: 610px;
	height: auto;
	margin-bottom: 50px;
	margin-top: 10px;
	margin-left: 10px;
}

#top-ad{
	width: 100%;
	height: 65px;
	border: 2px solid #dbdbdb;
	margin-bottom: 15px;
	padding-top: 5px;
	background-color: #F6F6F9;
}

#left-body{
	float: right;
	margin-bottom: 20px;
}

#hbody{
	background-image: url(../images/layout/hbody.png);
	height: 56px;
	width: 249px;
	margin-top: -1px;
	margin-right: 7px;
}

#menup1{
	background-image: url(../images/layout/menup1.png);
	height: 9px;
	width: 240px;
}

#menub{
	background-image: url(../images/layout/menub.png);
	height: auto;
	width: 230px;
	padding: 5px;
}

#targhetta{
	margin-top: -5px;
}

#link-sec-spacer{
	height: 15px;
	clear: both;
}

#menub a{
	font-family: arial;
	font-size: 13px;
	color: #291212;
}

#menub a:hover{
	color: #b70202;
}

.link-section{
	width: 230px;
}

.left-links{
	float: left;
	width: 115px;
	margin-top: 5px;
	height: auto;
}

.right-links{
	float: right;
	width: 115px;
	margin-top: 5px;
	height: auto;
}

#menup2{
	background-image: url(../images/layout/menup2.png);
	height: 9px;
	width: 240px;
}

#footer{
	width: 898px;
	height: 55px;
	background-image: url(../images/layout/footer.png);
	clear: both;
}

#page-title{
	font-family: residentevil;
	font-size: 75px;
	line-height: 67px;
	margin-bottom: 5px;
}

#creative-commons-simbol{
	float: right;
	margin-top: 37px;
	margin-right: 180px;
}